{inc:header.htm}
<style>
	.sopanel {
		margin-top: 15px;
	}
	.sopanel .s_set{
		font-size: 12px;
		width: 8% !important;
		background: #fcfcfc;
		height: 33px;
		line-height: 33px;
		text-indent: 10px;
		border: 0;
		border: 1px solid #ddd;
		border-radius: 5px;
		transition: all .35s ease 0s;
	}
	.sopanel input[name='keyword'] {
		font-size: 12px;
		width: 68% !important;
		background: #fcfcfc;
		height: 33px;
		line-height: 33px;
		text-indent: 10px;
		border: 0;
		border: 1px solid #ddd;
		border-radius: 5px;
		transition: all .35s ease 0s;
	}
	.sopanel input[name='submit'] {
		border-radius: 2px;
		transition: all .35s ease 0s;
		line-height: 35px;
		height: 35px;
		width: 10%;
		padding: 0 5px;
		border-radius: 5px;
		background: #cde9fd;
		border: 1px solid #cde9fd;
		cursor: pointer;
		transition: all .35s ease 0s;
		color: #6a7a86;
	}
	.sopanel input[name='submit']:hover {
		background-color: #3297fc;
		color: #fff;
	}
	.sopanel input[name='keyword']:focus {
		border: 1px solid #3297fc;
	}
	.sopanel input[name='submit']:focus {
		border: 1px solid #cde9fd;
	}
</style>
<section>
	<div class="container th_margintop">
		<div class="row">
			<div class="thjingxuan">
				<div class="thjingxuan_title categorylist"><i></i>
					<a href="{$cfg[weburl]}" title="{$cfg[webname]}">首页</a><span>/</span> <a href="">{lang:search}</a>
				</div>
				<section class="thjingxuan_sec">
					<div class="sopanel">
						<form name="search" method="get" action="{$cfg[webdir]}index.php" id="search_form">
							<input type="hidden" name="u" value="search-index" />
							<select name="mid" class="s_set">
							{loop:$cfg[mod_name] $v $k}<option value="{$k}">{$v}</option>{/loop}
							</select>
							<input type="text" name="keyword" required value="{$keyword}" />
							<input type="submit" name="submit" value="{lang:search}" />
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>

{inc:footer.htm}
</body>
</html>

