{inc:header.htm}
<section>
	<div class="container th_margintop">
		<div class="row">
			<!--左侧用户文章列表start-->
			<div class="col-md-9 col-xs-12">
				<div>
					<div class="thjingxuan">
						<div class="thjingxuan_title categorylist"><i></i>
							<a href="{$cfg[weburl]}" title="{$cfg[webname]}">首页</a><span>/</span> <a href="{$cfg_var[user_url]}">{$cfg_var[author]}</a>
						</div>
						{block:global_space pagenum="10" dateformat="Y-m-d" showviews="1"}{/block}
						<section class="thjingxuan_sec">
							{loop:$gdata[list] $v}
							<div class="col-md-12 col-xs-12 th_padding post_id_{$v[id]}">
								<div class="thliorder1">
									<div class="thnews-img">
										<a href="{$v[url]}" title="{$v[title]}">
											<img class="th-img thnews-img-height" src="{$v[pic]}" alt="{$v[title]}">
										</a>
									</div>
									<div class="thnews-con">
										<div class="news-con-tit"><a href="{$v[url]}" title="{$v[title]}">{$v[subject]}</a>
										</div>
										<div class="newsummary">{$v[intro]}</div>
										<div class="thinfo">
											时间：{$v[date]}&nbsp;&nbsp;|&nbsp;&nbsp;阅读：{$v[views]}
										</div>
									</div>
								</div>
							</div>
							{/loop}
							{if:$gdata[pages]}
							<div class="col-md-12 col-xs-12 th_padding">
								<div class="list-title pagebar">
									{$gdata[pages]}
								</div>
							</div>
							{/if}
						</section>
					</div>
				</div>
			</div>
			<!--左侧用户文章列表end-->
			<div class="col-md-3 col-xs-12 wap_margintop">
				<div>
					<section>
						<div class="thleftcon" style="height: 335px;">
							<div class="thleftcon-1">
								<img class="th-img jsimg-height" src="{$cfg[tpl]}style/img/tx.jpg">
								<img class="th-img jsimg-toux" src="{$cfg_var[avatar]}">
							</div>
							<div class="thjs_infor">
								<h4>{$cfg_var[author]}</h4>
								<div class="clear"></div>
							</div>
							<div class="thleftcon-2">
								<dl>
									<dd>{$cfg_var[intro]}</dd>
								</dl>
							</div>
							<div class="aut_count">
								<ul>
									<li><span>内容</span><strong>{$cfg_var[contents]}</strong></li>
									<li><span>积分</span><strong>{$cfg_var[credits]}</strong></li>
									<li><span>金币</span><strong>{$cfg_var[golds]}</strong></li>
								</ul>
							</div>
						</div>
					</section>
				</div>
				<!--文章阅读排行榜start-->
				<div class="th_margintop">
					{block:list_top orderby="views" limit="8" titlenum="24"}
					<section>
						<div class="thleftcon">
							<div class="thleftbt"><span>阅读排行</span></div>
							<ul class="th-5">
								{loop:$data[list] $v}
								<li class="post_id_{$v[id]}"><span class="date">{$v[views]}℃</span><i>{$v[xuhao]}</i><a href="{$v[url]}" title="{$v[title]}">{$v[subject]}</a></li>
								{/loop}
							</ul>
						</div>
					</section>
					{/block}
				</div>
				<!--当前分类阅读排行榜end-->
				<!--随机文章start-->
				<div class="th_margintop">
					<section>{inc:rand.htm}</section>
				</div>
				<!--随机文章end-->
				<!--热门标签start-->
				<div class="th_margintop">
					<section>
						<div class="thleftcon">
							<div class="thleftbt"><span>热门标签</span></div>
							<ul class="th-7">
								{block:taglist limit="18" orderby="count"}
								{loop:$data[list] $v}
								<li class="tag_id_{$v[tagid]}"><a title="{$v[name]}" href="{$v[url]}">{$v[name]}</a></li>
								{/loop}
								{/block}
							</ul>
						</div>
					</section>
				</div>
				<!--热门标签end-->
			</div>
		</div>
	</div>
</section>

{inc:footer.htm}
</body>
</html>
