{inc:header.htm}

<section>
	<div class="container th_margintop">
		<div class="row">
			<div class="thjingxuan">
				<div class="thjingxuan_title categorylist"><i></i>
					<a href="{$cfg[weburl]}" title="{$cfg[webname]}">首页</a><span>/</span> <a>热门标签</a>
				</div>
				<section class="thjingxuan_sec">
					{block:taglist limit="500"}
					<ul class="th-tags row">
						{loop:$data[list] $v}<li class="col-md-2 col-xs-6 tag_id_{$v[tagid]}"><a href="{$v[url]}" title="{$v[name]}">{$v[name]}({$v[count]})</a></li>{/loop}
					</ul>
					{/block}
				</section>
			</div>
		</div>
	</div>
</section>

{inc:footer.htm}
</body>
</html>

